.parry-wrapper canvas {
    width: 100% !important;
    height: 100% !important;
    border: none;
    background-color: whitesmoke;
}

.parry-wrapper h2 {
    margin-bottom: 20px;
    color: black;
    font-family: 'academia';
}

.parry-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto 0;
    width: 75vw;
    height: 75vh;
}

.archetype-wrapper canvas {
    width: 100% !important;
    height: 100% !important;
    border: none;
    background-color: whitesmoke;
}

.archetype-wrapper h2 {
    margin-bottom: 20px;
    color: black;
    font-family: 'academia';
}

.archetype-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto 0;
    width: 60vw;
    aspect-ratio: 1 / 1;
}
